body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Estilo del popup */
.leaflet-popup {
  max-width: 200px;
}

.leaflet-popup b {
  color: #333;
}

.leaflet-popup p {
  margin: 5px 0;
}
